<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <button mat-button routerLink="home">Home</button>
      <button mat-button routerLink="products">Products</button>
    </div>
    <div class="header__items">
      <div class="header__cart-container">
        <button mat-button (click)="toggleCart()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <span *ngIf="cartNumberItems$ | async" class="header__cart-number">{{
          cartNumberItems$ | async
        }}</span>
      </div>
      <app-user-dropdown
        *ngIf="isLoggedIn$ | async"
        class="header__item header__item--dropdown"
      ></app-user-dropdown>
      <app-cart *ngIf="!(cartHidden$ | async)" class="header__cart"></app-cart>
      <button
        mat-button
        *ngIf="!(isLoggedIn$ | async)"
        routerLink="login"
        class="header__item"
      >
        Login
      </button>

      <button
        mat-button
        *ngIf="!(isLoggedIn$ | async)"
        routerLink="register"
        class="header__item"
      >
        Register
      </button>
    </div>
  </div>
</header>
